.todo{
    position: absolute;
    width: 300px;
    z-index: 5;
    &__summ:hover{
        background: #b0b0b0;
    }
    &__summ{
        background: #bbb;
        padding: 4px;
    }
    &__items{
        background: #ccc;
        margin: 0;
        font-size: 14px;
        li:hover{
            background: #ddd;
        }
        li{
            padding: 4px 12px;
        }

    }
    &__done{
        text-decoration: line-through;
        color: grey;
    }
    &__done:hover{
        background: #ccc!important;
    }
}
.todo[open]{
    box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}