body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.center{
    border: 1px solid orange;
    //padding-left:  calc(50% - 40vw);
    //padding-right: calc(50% - 40vw);
    margin-left:  calc(50% - 40vw);
    margin-right: calc(50% - 40vw);
    position: relative;
    overflow: hidden;
    min-height: 640px;
}


.table{
    position: absolute;
    background: #2b1;
    margin: auto;
    left: 10%;
    right: 10%;
    top: 12%;
    bottom: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .kind__column{
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .column__cell{
        display: flex;
        flex-direction: column;
    }

    .column__cell_top{
        // align-items: flex-end;
        justify-content: flex-end;
        flex-grow: 5;
    }
    .column__cell_mid{
        position: relaive;
        flex-grow: 1;
        align-items: center;

        .card_9{
            position: absolute;
            margin: 0;
        }
    }
    .column__cell_bot{
        flex-grow: 3;
        //align-items: flex-start;
        justify-content: flex-start;
        // flex-direction: column-reverse;
    }
    &__card{
        margin: -30px 0;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        margin: -44px 0;
    }

    /*.column__cell_bot{
        background: rgba(0,255,0,.5);
        color: white;
    }*/
    .column__plus{
        background: rgba(0,255,0,.5);
        color: white;
        font-size: 48px;
        border-radius:20px;
        padding:4px 12px;
        // margin:-20px auto;
        cursor: pointer;
      }
}
.opponentHand{
    display: flex;
    position: absolute;
}

.hand__top{
    top: 0;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    .opponent__card:nth-last-child(1){
        margin-right: -50px;
    }
    .opponent__card{
        margin-left: -50px;
        margin-top: -70px;
    }
}
.hand__rite{
    right: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    .opponent__card{
        margin: -50px 0;
        margin-right: -40px;
    }
}
.hand__left{
    justify-content: center;
    flex-direction: column;
    height: 100%;
    left: 0;
    margin: auto 0;
    .opponent__card{
        margin: -50px 0;
        margin-left: -40px;
    }
}

.column__kind-symbol{
    width: 70px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, .3);
    background: rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 3px;
}
.card{
    z-index: 1;
    width: 80px;
    height: 120px;
    background: white;
    border-radius: 16px;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .faceUp{
        display: block;
    }

    .rk{
        color: red;
    }
    .bk{
        color: black;
    }

    .card__label{
        position: relative;
    }
    .card__label_bot{
        transform: rotate(180deg);
    }
}
.card_pretender{
    top: -14px;
}
.opponent__card{
    background: pink;
    .faceUp{
        display: none;
    }
}

.user__hand{
    display: flex;
    position: absolute;
    bottom: -50px;
    width: 100%;
    justify-content: center;

    /*.user__card::first-letter{
        color: red;
    }*/
    .user__card{
        margin-right: -50px;
        transition: margin .3s;

        >*{
            pointer-events: none;
        }
    }
    .user__card:nth-last-child(1){
        margin-right: 0;
    }
    .user__card:hover{
        margin-top: -24px;
    }
}

.playerLabel{
    position: absolute;
    width:48px;
    height:48px;
    background: orange;
    box-sizing: border-box;
    border-radius: 24px;
    color: white;
    bottom: 4px;
    right: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}

@import 'todo';